# bash profile for setting environment variables
source /Users/dgruen/.bash_profile

# prefix with all the files to use
PREFIX=/Users/dgruen/work/flaskpipe

# work directory parent dir for flask, something like your scratch base dir
WORK=/Users/dgruen/tmp

# run name (prefix for flask config, Cl, p(z) files)
RUN=example

# healpix mask (same nside as output according to config)
MASK=msum256.fits.gz    # full mask with multiple realizations of footprint 
COOKIEMASKPREFIX=m256_ # expect individual cookies in ${COOKIEMASKPREFIX}[12345...].fits.gz
NCOOKIES=8

# NSIDE of mask and output maps; also max ell
NSIDE=256 # quick job for testing

# tracer density (unmasked) per arcmin^2, one per f1zX matter density field
DENSITY=("0.04" "0.04") # I just made these up
# tracer bias, one per f1zX matter density field
BIAS=("1.3" "1.7")

# path to flask executable
FLASK=/Users/dgruen/work/flask/bin/flask

# path to python
PYTHON=/Users/dgruen/anaconda/bin/python

# directory to save results in in the end (will be in subdirectories $RUN_$ID)
SAVEDIR=/Users/dgruen/work/flaskpipe/output
