# bash profile for setting environment variables
source /u/ki/dgruen/.bash_profile

# prefix with all the files to use
PREFIX=/u/ki/dgruen/work/flaskpipe

# work directory parent dir for flask, something like your scratch base dir
WORK=/scratch/dgruen

# run name (prefix for flask config, Cl, p(z) files)
RUN=sdss

# NSIDE of mask and output maps; also max ell
NSIDE=4096 # quick job for testing
LMAX=9999  # maximum ell in input tables (should be >=NSIDE)

# path to flask executable
FLASK=/u/ki/dgruen/flask/bin/flask

# path to trough lenser executable
TROUGHLENSER=/nfs/slac/g/ki/ki23/des/dgruen/trough_lenser/trough_flask_input

# path to python
PYTHON=/u/ki/dgruen/anaconda2/bin/python

# directory to save results in in the end (will be in subdirectories $RUN_$ID)
SAVEDIR=/nfs/slac/g/ki/ki23/des/flaskpipe/output/
