### Simulation basics ###
DIST:              LOGNORMAL		            # Field type, either LOGNORMAL, GAUSSIAN or HOMOGENEOUS (no structure).


nput data ###
CHOL_IN_PREFIX:    0                                # Mixing matrices prefix (skip Cl trafo and Cholesky decomp., 0 to do it).
ALLOW_MISS_CL:     0                                # 0 - Return error if required Cl is missing; 1 - Set missing Cls to zero.
SCALE_CLS:         1.0                              # Constant re-scaling factor for all Cls. 
WINFUNC_SIGMA:     -1                               # Std. Dev. (arcmin) of field Gaussian smoothing, applied to C(l)s, set <0 for none.
APPLY_PIXWIN:      1                                # Apply (1) or not (0) Healpix pixel window function to C(l)s.
SUPPRESS_L:        -1000                            # l scale for generic exponential suppression of C(l), set <0 for none.
SUP_INDEX:         -6                               # Index for the exponential suppression, exp(-(l/SUPPRESS_L)^SUP_INDEX), <0 for none.


### Output ###
EXIT_AT:           0                                # Write name of last output to be created (program will stop there). 0 for full run.
FITS2TGA:          0                                # 0 - Only FITS; 1 - FITS and TGA; 2 - Only TGA.
LRANGE_OUT:        2 500                            # Inclusive l interval for alm and Cls output. Irrelevant if there is no such output.
MMAX_OUT:          -1                               # Truncate m for alm output at this value. Set it to <0 for m<=l.
ANGULAR_COORD:     2                                # 0 - ThetaPhi in radians 1 - ThetaPhi in degrees 2 - RADEC in degrees.
DENS2KAPPA:        0                                # Integrate (1) or not (0) density to obtain convergence.
FLIST_OUT:         0 ./field-list.dat               # File to write the order of fields in covariance matrices. Write 0 for no output.
SMOOTH_CL_PREFIX:  0
XIOUT_PREFIX:      0
GXIOUT_PREFIX:     0
GCLOUT_PREFIX:     0
COVL_PREFIX:      0
REG_COVL_PREFIX:   0
REG_CL_PREFIX:     0
CHOLESKY_PREFIX:   0
AUXALM_OUT:        0
RECOVAUXCLS_OUT:   0
AUXMAP_OUT:        0
DENS2KAPPA_STAT:   0                                # Statistics of integrated densities, 0 - Ignore; 1 - Print to screen; or <filename>.
MAP_OUT:           0
RECOVALM_OUT:      0
RECOVCLS_OUT:      0
SHEAR_ALM_PREFIX:  0
SHEAR_MAP_OUT:     0
MAPWER_OUT:        0
MAPWERFITS_PREFIX: 0
CATALOG_OUT:       0

# Catalog columns, options are > theta phi z galtype kappa gamma1 gamma2 ellip1 ellip2 pixel maskbit
CATALOG_COLS: phi theta pixel
