### Simulation basics ###
DIST:              LOGNORMAL		            # Field type, either LOGNORMAL, GAUSSIAN or HOMOGENEOUS (no structure).

### Cosmology ###

OMEGA_m:           0.3067                           # Matter (DM+Baryon) density parameter.
OMEGA_L:           0.6933                           # Dark Energy (DE) density parameter.
W_de:             -1.0                              # DE equation of state (constant).
                                                    # The above are only used if SELEC_TYPE=1or3, DENS2KAPPA=1 or CATALOG_COLS contains r.

ELLIP_SIGMA:       0.11                             # Std.dev. of each component of sources ellipticities. Set to <0 for circular sources. 
GALDENSITY:        30                               # Comoving galaxy density in (h^-1 Mpc)^-3, only used if SELEC_TYPE = 1 or 3.



###Input data ###
CHOL_IN_PREFIX:    0                                # Mixing matrices prefix (skip Cl trafo and Cholesky decomp., 0 to do it).
ALLOW_MISS_CL:     0                                # 0 - Return error if required Cl is missing; 1 - Set missing Cls to zero.
SCALE_CLS:         1.0                              # Constant re-scaling factor for all Cls. 
WINFUNC_SIGMA:     -1                               # Std. Dev. (arcmin) of field Gaussian smoothing, applied to C(l)s, set <0 for none.
APPLY_PIXWIN:      1                                # Apply (1) or not (0) Healpix pixel window function to C(l)s.
SUPPRESS_L:        -1000                            # l scale for generic exponential suppression of C(l), set <0 for none.
SUP_INDEX:         -6                               # Index for the exponential suppression, exp(-(l/SUPPRESS_L)^SUP_INDEX), <0 for none.


### Covariance matrix regularization ###

MINDIAG_FRAC:      1e-12                            # Null diagonal elements are set to this*(smallest diagonal element in all ells).
BADCORR_FRAC:      0				    # Fraction added to variances if aux. Cov. matrices lead to |correlation|>1.
REGULARIZE_METHOD: 2				    # Correcting Cov. matrices for pos. def. 0-None; 1-Min. chi-sq; 2-Sampler with steps.
NEW_EVAL:          1e-18			    # Eigenvalue to replace negative ones (only for method 1).
REGULARIZE_STEP:   0.0001			    # Step size for successive approximations to pos. def.ness (only for method 2).
REG_MAXSTEPS:      1000				    # Maximum number of iterations (only for method 2).
ADD_FRAC:	   1e-10		    	    # If Eigenvalues>0 & Cholesky fail, add this*(smallest diagonal element) to diagonal. 

 

### Output ###
EXIT_AT:           0                                # Write name of last output to be created (program will stop there). 0 for full run.
FITS2TGA:          0                                # 0 - Only FITS; 1 - FITS and TGA; 2 - Only TGA.
LRANGE_OUT:        2 500                            # Inclusive l interval for alm and Cls output. Irrelevant if there is no such output.
MMAX_OUT:          -1                               # Truncate m for alm output at this value. Set it to <0 for m<=l.
ANGULAR_COORD:     2                                # 0 - ThetaPhi in radians 1 - ThetaPhi in degrees 2 - RADEC in degrees.
DENS2KAPPA:        0                                # Integrate (1) or not (0) density to obtain convergence.
FLIST_OUT:         0 ./field-list.dat               # File to write the order of fields in covariance matrices. Write 0 for no output.
SMOOTH_CL_PREFIX:  0
XIOUT_PREFIX:      0
GXIOUT_PREFIX:     0
GCLOUT_PREFIX:     0
COVL_PREFIX:      0
REG_COVL_PREFIX:   0
REG_CL_PREFIX:     0
CHOLESKY_PREFIX:   0
AUXALM_OUT:        0
RECOVAUXCLS_OUT:   0
AUXMAP_OUT:        0
DENS2KAPPA_STAT:   0                                # Statistics of integrated densities, 0 - Ignore; 1 - Print to screen; or <filename>.
MAP_OUT:           0
RECOVALM_OUT:      0
RECOVCLS_OUT:      0
SHEAR_ALM_PREFIX:  0
SHEAR_MAP_OUT:     0
MAPWER_OUT:        0
MAPWERFITS_PREFIX: 0
CATALOG_OUT:       0

# Catalog columns, options are > theta phi z galtype kappa gamma1 gamma2 ellip1 ellip2 pixel maskbit
CATALOG_COLS: phi theta pixel
